body {
  background: #ccc;
}

.headerhome {
    background-color: #33ccff;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px; 
    border-style: ridge;
    border-color: black;
}

    

.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px;

}

@media screen and (max-width: 799px) {
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      height: 250px;
      width: 90%;
      margin: auto;
}
}

@media screen and (min-width: 800px) {
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      height: 600px;
      width: 100%;
      margin: auto;
}
}

/*Phone and tablet CSS*/
@media screen and (max-width: 799px) {
.container{
    background: #737373;
    width: 100%;
    height: auto;

}
}

/*Deskstop CSS*/
@media screen and (min-width: 800px) {
.container {
    background: #737373;
    width:100%;
    height: auto;
   
    

}
}

/*Desktop CSS*/
@media screen and (min-width: 800px) {
  .videoplayer {
    width: 60%;
    height: auto;
  }
}

/*Phone and tablet CSS*/
@media screen and (max-width: 799px) {
  .videoplayer {
    width: 100%;
    height: auto;
  }
}


/*Phone and tablet CSS*/
@media screen and (max-width: 799px) {
.container2{
    background: #E60000;
    width: 100%;
    height: 250px;
    overflow: hidden;

}
}

/*Deskstop CSS*/
@media screen and (min-width: 800px) {
.container2 {
    background: #E60000;
    height: auto;
    margin: 0px;
    padding: 20px;


}
}

/*Phone and Tablet CSS*/
@media screen and (max-width: 799px) {
.welcome {
    height: auto;
    background: #2a45ff;
    color: #FFFFFF;
    margin: 0px;
    padding: 20px;
    
}
}

/*Desktop CSS*/
@media screen and (min-width: 800px) {
.welcome {
    height: auto;
    background: #2a45ff;
    color: #FFFFFF;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
}


p {
  color: #000;
  font-size: 16px;
  font-family: Verdana;
  
}
.aside1 {
  display: inline-block;
  background: gray;
  margin: 0px;
  width:20px;
}

.footer {
  clear:both;
}



.scroll {
  width: 400px;
  height: 100px;
  word-wrap: break-word;
  overflow: auto;
  
}

table {
  border-radius: 20px;
}

caption {
  font-size: 1.5em;
  color: #000;
  text-align: center;
  font-weight: bold;
}

th, td {
  padding: 10px;
  font-size: 15px;
  color: #000;
  text-align: center;
 
}

.button {
  padding: 5px;
  margin: 5px;
}

.img {
  width: 90%;
  height: auto;
}

.sotw_h1 {
text-align: center;
}

.sotw_img {
display: block;
margin: auto;
width: 60%;
border: solid #000000 5px;
}

.sotw_flex-container {
display: -webkit-flex;
display: flex;
width: 60%;
height: 90px;
background-color: red;
margin: auto;
border: solid #000000 5px;
}

.sotw_flex-item {
background-color: #33ccff;
text-align:center;
width: 40%;
height: 50px;
margin: auto;
border: solid #000000 5px;
}

.sotw_div {
text-align: center;
width: 500px;
height: auto;
margin: auto;
}



.banner {
  width:60%;
  background: #33ccff;
  border: solid #000000 5px;
}